@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 確保 Tailwind dark mode 可以影響所有深層元素 */
@custom-variant dark (&:where(.dark, .dark *));

/* 變數定義（默認是 light mode） */
:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(23, 23, 23);
  --toastify-color-light: rgb(255, 255, 255);
  --toastify-color-dark: rgb(23, 23, 23);
  --toastify-color-info: #fd9a00;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: hsl(6, 78%, 57%);
}

/* 自動根據系統偏好設定 dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.278 0.033 256.848); /*gray-800*/
    --foreground: rgb(237, 237, 237);
  }
}

/* 針對 Tailwind class 模式，手動加 .dark 時變更顏色 */
.dark {
  --background: oklch(0.278 0.033 256.848); /*gray-800*/
  --foreground: rgb(237, 237, 237);
}
.dark p {
  color: #d0d0d0;
}
/* 基本樣式 */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}
