@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 確保 Tailwind dark mode 可以影響所有深層元素 */
@custom-variant dark (&:where(.dark, .dark *));

/* 變數定義（默認是 light mode） */
:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(23, 23, 23);
}

/* 自動根據系統偏好設定 dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.278 0.033 256.848); /*gray-800*/
    --foreground: rgb(237, 237, 237);
  }
}

/* 基本樣式 */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}
/* 針對 Tailwind class 模式，手動加 .dark 時變更顏色 */
.dark {
  --background: oklch(0.278 0.033 256.848); /*gray-800*/
  --foreground: rgb(237, 237, 237);
}

.settings-tabs button {
  font-size: 18px;
  padding: 5px 8px;
  @apply text-gray-500 dark:text-gray-400;
}
.dark .settings-tabs button.active {
  @apply bg-gray-600 w-full text-left rounded-lg;
}
.settings-tabs button.active {
  @apply bg-gray-100 w-full text-left rounded-lg;
}
.render-tab-content {
  @apply flex flex-col justify-start w-[400px] min-h-[50vh] overflow-y-auto;
}
.render-tab-content button {
  @apply mt-auto;
}

.dashboard-nav a.link {
  @apply flex gap-2 items-center px-4 py-3 rounded-lg text-gray-700 dark:text-gray-200 font-medium hover:bg-gray-100 dark:hover:bg-gray-700;
}
.dashboard-nav a.link span {
  @apply hidden sm:inline; /* 在手機隱藏，在 sm（640px 以上）顯示 */
}

/* Profile Container */
.profile-container {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Profile Title */
.profile-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
}

/* Profile Item (each row) */
.profile-item {
  @apply flex gap-8 relative justify-between items-center max-w-[calc(100vw-50vw)] w-[300px];
}

/* Profile label (text) */
.profile-label {
  font-size: 0.875rem;
  font-weight: 500;
  @apply text-gray-400 dark:text-gray-400;
}

/* Profile value (data displayed) */
.profile-value {
  @apply bg-gray-100 dark:bg-gray-600 dark:text-stone-200 p-3 rounded-sm;
  font-size: 1rem;
  display: inline-block;
  width: 100%;
}

/* Edit button container (shown only on hover) */
.edit-btn-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Edit button styles */
.edit-btn {
  @apply py-1 px-3 text-amber-500;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

/* Edit icon style */
.edit-icon {
  width: 16px;
  height: 16px;
  color: #4b5563; /* Tailwind gray-600 */
}
